    <form method="get" action="/quizes/<%= quiz.id %>/answer">
      <p>Pregunta: <%= quiz.question %></p>
      <p><input type="text" name="respuesta" value="Respuesta">
      <input type="submit" value="Enviar"></p>
    </form>
    <p><a href="/quizes/<%= quiz.id %>/comments/new"><button type="button">Nuevo comentario</button></a></p>
    <h3>Comentarios</h3>
    <% for(index in quiz.Comments) { %>
    <% console.log("Published? " + quiz.Comments[index].published); 
console.log("Session? " + session.user);
    %>

    	<% if(quiz.Comments[index].published || session.user) { %>
    		<p>- <%= quiz.Comments[index].text %></p>
    			<% if(session.user && !quiz.Comments[index].published) { %>
    				<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
    					<button type="button">Publicar</button>
    				</a>
    			<% } %>
    	<% } %>
    <% } %>